body {
  background-color: black;
}

h1 {
  color: green;
  font-size: 1.5rem;
  padding: 20px;
  text-align: center;
  align: bottom;
}


marquee {
  color: yellow;
  font-size: 1.5rem;
  padding: 25px;
}

.container {
  font-size: 1.2rem;
  text-align: center;
  color: aqua;
  padding: 5px;
}

.trench {
  padding-top: 100px;
}
